@media screen and (max-width: 1024px) {
  .header_top {
    display: none;
  }

  .main_header {
    flex-direction: column;
    gap: 10px;
  }

  .main_header .nav_items {
    gap: 10px;
  }
  .main_header .nav_items .active
  {
    display: none;
  }

  .main_header .nav_items a {
    background-color: #ddd;
    padding: 5px;
    font-size: 15px;
  }

  .home__content .heading h1 {
    width: 95%;
  }

  .main__content h2 {
    width: 95%;
  }

  .main__content .article {
    width: 90%;
  }

  .videos__content .main__content .article,
  .contact__content .main__content .article {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .home {
    height: 50vh;
    background-attachment: scroll;
  }

  .home__content {
    height: 40vh;
  }

  .home__content .heading h1
 {
  font-size: 32px;
  line-height: 1.3;
  width: 100%;
 }

 .main__content h2
 {
  width: 100%;
 }

 .youtube_popup_btn
{
  height: 400px;
  width: 620px;
}

 .main__content .article,
 .videos__content .main__content .article
 {
  width: 100%;
 }

  iframe {
    width: 600px;
    height: 315px;
  }

  form {
    width: 100%;
  }

  .form__items {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .youtube_popup_btn
  {
    width: 100%;
  }

  iframe {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
.home__content .heading h1 {
    font-size: 32px;
  }

  .home__content .buttons,
  .main__content .buttons {
    font-size: 19px;
  }


  iframe {
    width: 450px;
  }

  .home__content .buttons,
  .main__content .buttons {
    flex-direction: column;
    align-items: center;
  }

  .home__content .buttons .contact__button,
  .main__content .buttons .contact__button {
    width: max-content;
  }

}

@media screen and (max-width: 500px) {
  iframe {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  iframe {
    width: 380px;
  }
}
